html, body {
  height: 100%;
  width: 100%;
  color: green;
  user-select: none;
  background-color: khaki;
  font-family: Helvetica, Verdana, sans-serif;
  overflow: hidden;
}

.btn {
  display: grid;
  align-items: center;
  /* justify-items: center; */

  text-align: center;

  background-color: green;
  color: gold;
  border-radius: 7px;
  position: relative;

  padding: 2.5%;
}

.stat {
  display: grid;
  align-items: center;
  justify-items: center;

  background-color: rgb(60, 165, 60);
  color: gold;
  border-radius: 7px;
  width: 12%;
  height: 10%;
  position: relative;
  margin: .5rem;
}

#clock {
  display: grid;
  align-items: center;
  justify-items: center;
  
  background-color: rgb(60, 165, 60);
  color: gold;
  border-radius: 7px;
  width: 15%;
  height: 10%;
  position: absolute;
  left: 50%;
  top: 0%;
  transform: translate(-50%, 0%);
  margin: .5rem;
}

#main-click {
  display: grid;
  align-items: center;
  justify-items: center;

  background-color: green;
  color: gold;
  border-radius: 7px;
  width: 20%;
  height: 20%;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  clip-path: circle(2 at 50% 50%);
}

#upgrade-panel {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  padding-top: 5rem;
  gap: 1rem;

  background-color: rgb(60, 165, 60);
  color: gold;
  border-radius: 7px;
  width: 50%;
  height: 80%;
  position: absolute;
  right: 0%;
  top: 10%;
  margin: .5rem;

  transition-duration: .5s;
  transform: translateX(110%);
}
#shop-label {
  position: absolute;
  top: 1.4rem;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  font-size: 2rem;
}

#hover-menu-upgrades {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 10%;
  background: rgba(0, 128, 0, 0.4);
}

#hover-menu-upgrades:hover ~ #upgrade-panel, #upgrade-panel:hover {
  transform: translateX(0%);
}

#prestige-shop {
  display: none;
  padding: 1rem;
  gap: 1rem;

  grid-template-rows: 3;
  grid-template-columns: 4;
  background-color: rgb(60, 165, 60);
  color: gold;
  border-radius: 7px;
  width: 60%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: .5rem;

  transition-duration: .5s;
  transform: translate(-200%,-50%);
}

#show-prestige-shop {
  display: none;
  align-items: center;
  justify-items: center;
  position: absolute;
  margin: .5rem;
  bottom: 0%;
  height: 10%;
  width: 10%;
  background-color: green;
  color: gold;
  border-radius: 7px;
}

#stats {
  display: grid;
  padding: 1rem;
  gap: 1rem;

  background-color: rgb(60, 165, 60);
  color: gold;
  border-radius: 7px;
  width: 60%;
  height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: .5rem;

  transition-duration: .5s;
  transform: translate(-50%,-200%);
}

#show-stats {
  display: grid;
  align-items: center;
  justify-items: center;

  background-color: green;
  color: gold;
  border-radius: 7px;
  width: 10%;
  height: 10%;
  position: relative;
  margin: .5rem;
}
